body {
    padding: 20px;
}

h2.subtitle {
    font-weight: bold;
}

.error {
    border-radius: 4px;
    font-weight: 600;
    padding: 1.25rem;
    position: relative;
    text-align: center;
    background-color: #d15f54;
    color: #fff;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.application > * {
    margin-bottom: 2em;
    display: block;

    + * {
        margin-top: 2em;
    }
}

p.no-validation {
    background-color: #78A960;
}

