string-bindings {
    display: block;

    p.no-validation,
    p.feather[text='feather'][data-test='feather'],
    p.feather-suffix[data-test='feather-suffix'][text='feather'],
    p.feather-flock[data-test='feather-flock'][text='feather'] {
        background-color: #78A960;
    }
}
